body{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(207, 221, 17, 0.801);
}

.caja__juego{
    border: 1px solid black;
    background-color: rgba(39, 39, 39, 0.938);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 8px 8px 8px black;

}

.tablero{
    display: grid;
    grid-template-columns: repeat(3,minmax(150px,150px));
    grid-template-rows: repeat(3,minmax(150px,150px));
    margin-right: 20px;
    position: relative;
    
}
.input__label{
    border: 2px solid black;
    background-color: white;
    font-size: 50px;
    cursor: pointer;
}

.caja__buttons{
    display: flex;
    flex-direction: column;
    background-color: rgb(214, 211, 211);
    border-left: 2px solid black ;
}
.buttons{
    width: 130px;
    height: 60px;
    font-size: 18px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.788);
    color: white;
    border-radius: 10px;
}
.buttons:hover{
    background-color: rgba(255, 255, 255, 0.925);
    color: black;
}

.button__X,.button__O{
    width: 50px;
    height: 50px;

}

.button__again{
    margin-top: 250px;
    height: 45px;
}
.padre__puntaje{
    display: flex;
}

.puntaje{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box{
    position: absolute;
    border: 2px solid black;
    border-radius: 8px;
    width: 300px;
    height: 140px;
    background-color: aqua;
    justify-content: center;
    display: none;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media screen and (max-width: 600px) {
    .caja__juego{
        width: 320px;
    }
    .tablero{
        grid-template-columns: repeat(3,minmax(100px,100px));
        grid-template-rows: repeat(3,minmax(100px,100px));
        margin-right: 0;
    }
    .caja__buttons{
        flex-direction: row;
        border-left: 0;
       margin: 3px 0 3px 0;
    }
    .box{
        width: 280px;
        height: 120px;
    }
}
